<div class="row row-cols-1 row-cols-md-2 g-4 container d-flex justify-content-center align-items-center">
  <div class="col">
    <div class="card shadow">
      <div class="card-body">
        <h5 class="card-title"><i class="bi fs-5 bi-people-fill me-2"></i>No of User Details</h5>
        <h1 class="card-text ms-5">{{noOfUserDetails}}</h1>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card shadow">
      <div class="card-body">
        <h5 class="card-title"><i class="bi fs-5 bi-bank me-2"></i>No of Bank Details</h5>
        <h1 class="card-text ms-5">{{noOfBankDetails}}</h1>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card shadow">
      <div class="card-body">
        <h5 class="card-title"><i class="bi fs-5 bi-reception-4 me-2"></i>No of Stocks Purchased</h5>
        <h1 class="card-text ms-5">{{noOfStocksPurchased}}</h1>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card shadow">
      <div class="card-body">
        <h5 class="card-title"><i class="bi fs-5 bi-currency-bitcoin me-2"></i>No of Brokers</h5>
        <h1 class="card-text ms-5">{{noOfBrokers}}</h1>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card shadow">
      <div class="card-body">
        <h5 class="card-title"><i class="bi fs-5 bi-backpack me-2"></i>No of Providers</h5>
        <h1 class="card-text ms-5">{{noOfBrokers}}</h1>
      </div>
    </div>
  </div>
</div>
