/*body{
    width:100%;
}*/
#logo{
    margin-right:10px;
}

a {
    text-decoration: none;
    color: #999494;
}
.side-shadow {
    -webkit-box-shadow: 17px 0px 17px -19px rgba(224,215,224,1);
    -moz-box-shadow: 17px 0px 17px -19px rgba(224,215,224,1);
    box-shadow: 17px 0px 17px -19px rgba(224,215,224,1);
}

.btn-light:hover {
    background-color: #c7cdd2;
    
}
.side-nav{
    min-height: 80vh;
}
