<h1>Fetch By Id</h1>
<br />
<partial name="_AlertMessage" />
<form asp-action="FetchUserDetail" asp-route-id="id">
    <label>Enter Id</label>
    <input type="number" name="id" />
    <button type="submit">fetch</button>
</form>