<h1>
    Filter Users By Annual Income
</h1>
<form asp-action="FilteredUsers" method="get">
    <lable>Enter Annual Income </lable>
    <input type="number" name="annualIncome" />
    <button type="submit">Filter</button>
</form>