@model SIM_Application.Models.BankDetail
@{
    ViewData["Title"] = "AddBankDetails";
    Layout = "_SIMLayout";
}

<h1>AddBankDetails</h1>
<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item" style="color:blue">Add User Details</li>
        <li class="breadcrumb-item active">Add User Bank Details</li>
    </ol>
</nav>
<div class="card">
    <h5 class="card-header">Add Bank Details</h5>
    <div class="card-body">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="row g-5">
                <div class="col-md">
                    <div class="form-floating">
                        <input asp-for="BankName" class="form-control" placeholder="Enter Bank Name">
                        <label asp-for="BankName">Bank Name</label>
                        <span asp-validation-for="BankName" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md">
                    <div class="form-floating">
                        <input asp-for="Ifsc" class="form-control" placeholder="Enter IFSC Code">
                        <label asp-for="Ifsc">IFSC Code</label>
                        <span asp-validation-for="Ifsc" class="text-danger"></span>
                    </div>
                </div>
            </div><br>

            <div class="row g-5">
                <div class="col-md">
                    <div class="form-floating">
                        <input asp-for="Mcir" class="form-control" placeholder="Enter MCIR">
                        <label asp-for="Mcir">MCIR</label>
                        <span asp-validation-for="Mcir" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md">
                    <div class="form-floating">
                        <input asp-for="AccountNumber" class="form-control" placeholder="Enter Account Number">
                        <label asp-for="AccountNumber">Account Number</label>
                        <span asp-validation-for="AccountNumber" class="text-danger"></span>
                    </div>
                </div>
            </div><br>
            <div class="row g-5">
                <div class="col-md ">
                    <div class="form-floating">
                        <input asp-for="AccountBalance" class="form-control"  placeholder="Enter Account Balance">
                        <label asp-for="AccountBalance">Account Balance</label>
                        <span asp-validation-for="AccountBalance" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md">
                    @* <button type="submit" formaction="@Url.Action("AddUserDetails", "UserDetails")" class="btn btn-outline-primary" style="margin-left:250px;margin-top:10px">Previous</button>  *@
                </div>
            </div>
            <br />
            <div class="text-center">
                <div class="form-group justify-content-between">
                    <input type="submit" value="Add" class="btn btn-primary" />
                </div>
            </div>
        </form>

    </div>
</div>
